<h1><%= title %></h1>

<div class="imdb">
    <img id="imdbLogo" src="" width="46" height="22" border="0">
    <span class="strong"><%= imdbRating %> / 10</span>
</div>

<p><%= plot %></p>

<div class="meta">
    <p>
        <span class="strong">Country:</span> <%= country %>
    </p>

    <p>
        <span class="strong">Genre:</span> <%= genre %>
    </p>

    <p>
        <span class="strong">Language:</span> <%= language %>
    </p>

    <p>
        <span class="strong">Type:</span> <%= type %>
    </p>

    <p>
        <span class="strong">Year:</span> <%= year %>
    </p>
</div>
